{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .line{
        height: 48vh;
        width: 0.7px;
    }
    .divLine{
        width: 10%;
    }
    .left{
        width: 45%;
    }
    .right{
        width: 45%;
        text-align: center;
    }
</style>
<section class="">
    <div class="container px-4 px-lg-5 mt-5 d-flex align-items-center w-100 container-about" style="flex-direction: row;">
        <div class="left">
            <h1>Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="mb-3 w-50">
                {{ form_row(registrationForm.email) }}
            </div>

            <div class="mb-3 w-50">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>

            <div class="mb-3 w-50">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            
            <button type="submit" class="btn btn-outline-dark">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>

        <div class="divLine d-flex justify-content-center align-items-center">
            <div class="line bg-dark rounded-pill"></div>
        </div>
        <div class="right">
            <img src="{{ asset('img/registerwebp.webp') }}" alt="Description de l'image">
        </div>

    </div>
</section>
{% endblock %}
